# Ignore everything
/*

# Track .gitignore
!.gitignore

# Keep track of all src contents
/WNXT/*
!/WNXT
!/WNXT/src/

/WPC/*
!/WPC
!/WPC/src/
!/WPC/res/

/WShared/*
!/WShared
!/WShared/src/
!/WShared/res/
