# Ignore everything
/*

# Track .gitignore
!.gitignore

# Keep track of all src contents
/WNXT/*
!/WNXT
!/WNXT/src/
!/WNXT/testsrc/


/WPC/*
!/WPC
!/WPC/src/
!/WPC/testsrc/
#!/WPC/res/

/WShared/*
!/WShared
!/WShared/src/
!/WShared/testsrc/